<h1>Registter Page</h1>

<form action="/register" method="post">
    <label for="name">Name</label>
   <input type="text" name="name">

   <label for="email">Email</label>
   <input type="email" name="email">

   <label for="name">Password</label>
   <input type="password" name="password">

   <button type="submit">Register</button>
</form>

<a href="/login">Login</a>